#!/bin/bash
# {{ ansible_managed }}

# Skip all for noninteractive shells.
[ ! -t 0 ] && return

fg_Black="\[$(tput setaf 0)\]"
fg_Red="\[$(tput setaf 1)\]"
fg_Green="\[$(tput setaf 2)\]"
fg_Yellow="\[$(tput setaf 3)\]"
fg_Blue="\[$(tput setaf 4)\]"
fg_Magenta="\[$(tput setaf 5)\]"
fg_Cyan="\[$(tput setaf 6)\]"
fg_White="\[$(tput setaf 7)\]"

bg_Black="\[$(tput setab 0)\]"
bg_Red="\[$(tput setab 1)\]"
bg_Green="\[$(tput setab 2)\]"
bg_Yellow="\[$(tput setab 3)\]"
bg_Blue="\[$(tput setab 4)\]"
bg_Magenta="\[$(tput setab 5)\]"
bg_Cyan="\[$(tput setab 6)\]"
bg_White="\[$(tput setab 7)\]"

clear_color="\[$(tput sgr0)\]"
bold="\[$(tput bold)\]"
standard="\[$(tput smso)\]"
underline_start="\[$(tput smul)\]"
underline_end="\[$(tput rmul)\]"

time="\t"
hostname="$fg_Green\h$clear_color"
username="$fg_Blue\u$clear_color"
working_directory="$fg_Yellow\w$clear_color"

# environnement="$fg_Cyan$bold\[\]{{ env | default('dev') }}$clear_color"
environnement="$fg_Cyan$bold\[\]{{ group_names[0] | default('dev') }}$clear_color"
ansible_hostname="$fg_White\[\]{{ inventory_hostname }}$clear_color"

if [ $(id -u) -eq 0 >/dev/null 2>&1 ]; then
  username="$fg_Red\u$clear_color"
fi

PS1="[$time][$environnement/$ansible_hostname]:$username@$hostname:[$working_directory]$fg_Red$ $clear_color"
export PS1
